@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Nunito+Sans:wght@400;600;700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Poppins", sans-serif;
    line-height: 1.4;
  }
}

/* examples of other @layers */
@layer components {
  .btn-blue {
    @apply rounded bg-blue-500 py-2 px-4 font-bold text-white hover:bg-blue-700;
  }

  .bg-number-stat {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    @apply to-primary-100 bg-gradient-to-r from-greenBlue;
  }

  .bg-login {
    background-image: url(/assets/bg-login.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* @apply h-full rounded-lg; */
    overflow: hidden;
  }

  .bg-register {
    background-image: url(/assets/bg-register.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* @apply h-full rounded-md; */
  }
}

@layer utilities {
  .filter-none {
    filter: none;
  }
  .filter-grayscale {
    filter: grayscale(100%);
  }
  .bg-primary-light {
    background-color: rgba(73, 187, 189, 0.6);
  }
}

/* Desktop navigation */
/* @media only screen and (max-width: 1023px) {
  .desktop-nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
  }
  .desktop-nav nav {
    @apply h-12 bg-white text-text1 shadow-md;
  }

  .desktop-nav ul {
    @apply justify-between;
  }

  .desktop-nav ul li {
    @apply w-full;
  }
} */

.hero-img {
  background-image: url(/assets/hero-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media only screen and (max-width: 300px) {
  .closeBtn {
    background-color: green !important;
    right: 24px;
  }
}

/* .anime {
  animation-duration: 3s;
  animation-name: grow;
}

@keyframes grow {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
} */
